.header {
  background: #061D25;
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.header a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.header a:hover {
  color: white;
}
.biodata {
  margin-top: 60px;
  text-align: justify-all;
}
.biadata a {
  color: #70726F;
  transition: all .5s ease;
}
.footer {
  background: #061D25;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;
}